[project]
	description = Teamcity workflow
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/vigneshbalagopal
[access "refs/for/refs/*"]
	read = group user/vigneshbalagopal
	push = group user/vigneshbalagopal
	label-Code-Review = -2..+2 group user/vigneshbalagopal
	label-Verified = -1..+1 group user/vigneshbalagopal
	rebase = group user/vigneshbalagopal
	removeReviewer = group user/vigneshbalagopal
	submit = group user/vigneshbalagopal
[access "refs/heads/*"]
	read = group user/vigneshbalagopal
	create = group user/vigneshbalagopal
	push = +force group user/vigneshbalagopal
	pushMerge = group user/vigneshbalagopal
[access "refs/tags/*"]
	push = +force group user/vigneshbalagopal
	pushTag = group user/vigneshbalagopal
	pushSignedTag = group user/vigneshbalagopal
